.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.number {
  font-style: italic;
}

.deleteBtn {
  padding: 4px 8px;
  cursor: pointer;
}
